.news-block {
    $root: &;

    display: grid;
    grid-template-columns: 1fr rem(372);
    grid-template-areas:
        "main right";
    height: fit-content;
    // max-height: rem(1636);
    transition: 0.3s;
    border-bottom: 1px solid $color-border-base;
    border-top: 1px solid $color-border-base;
    position: relative;


    &__main {
        grid-area: "main";
        padding-right: rem(24);
        border-right: 1px solid $color-gray-8;
        padding-top: rem(20);

        &-item:not(:first-child) {
            border-top: 1px solid $color-gray-16;
        }

        
    }

    &__right {
        padding-left: rem(24);
        grid-area: "right";
        height: 100%;
        padding-top: rem(20);

    }

    &__card {
        border-bottom: 1px solid $color-gray-8;

        &:first-child {
            padding-top: rem(20);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        width: 100%;
        @include caption-2;
        font-size: rem(11);
        color: $color-text-interactive;
        letter-spacing: rem(0.66);
    }

    &__stickycontainer {
        top: rem(80);
        position: sticky;
    }

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "main";

        &__right {
            display: none;
        }

        &__main {
            padding-right: 0;
            border-right: none;
        }
    }

    @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "main";

        &__right {
            display: none;
        }

        &__main {
            padding-right: 0;
            border-right: none;
        }

    }
}
