.button {
  $root: &;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // min-width: rem(120);
  padding: 0 rem(32);
  background-color: $color-black;
  color: $color-white;
  border: 1px solid transparent;
  border-radius: rem(40);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  appearance: none;
  outline: none;
  font-size: rem(15);
  font-family: $font-secondary;
  width: rem(149);
  height: rem(48);
  line-height: rem(20);
  font-weight: 450;

  @include defaultTransition(background-color, color, border-color);

  @include hover {
    &:not(#{$root}--disabled):not(:disabled) {
      opacity: 0.9;
    }
  }

  .button__content {
    display: flex;
    align-items: center;
    line-height: rem(16);
    gap: rem(8);
  }

  &.button--white {
    color: $color-white;
  }

  &.button--black {
    color: $color-primary;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &.button--disabled {
    background-color: $color-gray-20;
    color: $color-gray-40;
    border: none;
    cursor: not-allowed;
  }

  &.button--lg {
    padding: rem(14) rem(20);
  }

  &.button--md {
    padding: 12px;
    padding-right: 16px;
    width: rem(108);
    height: rem(40);
    font-size: rem(13);
    line-height: rem(16);
  }

  &.button--sm {
    padding: 10px 24px;

    .button__left-content {
      display: flex;
      align-items: center;
      gap: rem(8);
    }
  }

  &.button--xs {
    padding: 10px 24px;

    .button__left-content {
      display: flex;
      align-items: center;
      gap: rem(4);
    }
  }

  &.button--secondary {
    background-color: $color-gray-4;
    width: rem(138);
    border: 1px solid $color-gray-16;
    color: $color-text-primary;

    &.button--disabled {
      background-color: white;
      color: $color-button-disabled;
      border: rem(1) solid $color-gray-16;
      cursor: not-allowed;
    }

    &:active {
      background-color: $color-cool-gray;
    }
  }

  // General theme
  &--general {
    background-color: $color-bg-level-2;
    color: #ffffff;
    border-radius: 0;
    padding: rem(14) rem(20);
    width: fit-content;

    &.button--primary {
      background-color: $color-bg-level-2;
    }

    &.button--disabled {
      background-color: $color-gray-20;
      color: $color-gray-40;
      border: none;
      cursor: not-allowed;
    }

    &.button--md {
      width: rem(108);
      svg {
        width: rem(16);
        height: auto;
      }
    }
  }

  // Grand theme
  &--grand {
    background-color: $color-bg-level-2;
    color: #ffffff;
    border-radius: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    svg {
      width: rem(20);
      height: auto;
    }

    &.button--md {
      width: 100%;
      height: rem(48);
    }

    &.button--secondary {
      width: 100%;
      background-color: white;
    }
  }

  // Ghost theme
  &--ghost {
    background-color: transparent;
    width: rem(75);
    height: rem(48);
    color: $color-primary;
    min-width: rem(25);
    gap: rem(8);

    @include hover {
      &:not(#{$root}--disabled):not(:disabled) {
        .button__text {
          color: $color-text-interactive;
        }
      }
    }

    &.button--lg {
      width: auto;
      padding: rem(14) rem(0);
      height: rem(48);
    }

    &.button--md {
      width: auto;
      padding: rem(14) rem(0);
      height: rem(48);
    }

    &.button--sm {
      padding: rem(8) rem(0);
      width: auto;
      height: rem(32);
      font-size: rem(13);
    }

    &.button--xs {
      padding: rem(4) rem(0);
      width: auto;
      height: rem(24);
      font-size: rem(13);
    }

    &.button--disabled {
      background-color: transparent;
      color: $color-gray-20;
      border: none;
      cursor: not-allowed;
    }
  }

  &--moredata {
    width: 100%;
    background-color: $color-primary;
    border-radius: 0;
    @include hx-0;

    .button__content {
      padding-right: rem(16);
    }

  }

  &--icon {
    background-color: transparent;
    width: rem(138);
    border: 1px solid $color-gray-16;
    color: $color-text-primary;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.button--white {
      @include hover {
        &:not(#{$root}--disabled):not(:disabled) {
            background-color: $color-gray-4;
            color: $color-text-primary;
        }
      }
    }

    &.button--lg {
      width: auto;
      height: rem(48);
      width: rem(48);

      svg {
        height: rem(24);
        width: rem(24);
      }
    }

    &.button--md {
      width: auto;
      height: rem(40);
      width: rem(40);
      padding: 0;

      svg {
        height: rem(16);
        width: rem(16);
      }
    }

    &.button--sm {
      width: auto;
      height: rem(32);
      width: rem(32);
      padding: 0;

      svg {
        height: rem(16);
        width: rem(16);
      }
    }

    &.button--xs {
      width: auto;
      height: rem(24);
      width: rem(24);
      padding: 0;

      svg {
        height: rem(13);
        width: rem(13);
      }
    }
  }

  &__counter {
    color: $color-secondary;
    font-style: italic;
    font-size: rem(12);
    margin-left: rem(4);
    position: relative;
    bottom: rem(6);
  }

  &__secondary-text {
    color: $color-secondary;
    font-size: rem(13);
  }
}
